/*!sc*/

@font-face {
    font-family: "GothamNarrow";
    font-weight: normal;
    font-style: normal;
    src: local("GothamNarrow"), local("GothamNarrow"), url(/GothamNarrow-Bold.woff2) format("woff2"), url(/GothamNarrow-Bold.woff) format("woff");
}

/*!sc*/

@font-face {
    font-family: "GothamNarrow";
    font-weight: normal;
    font-style: italic;
    src: local("GothamNarrow"), local("GothamNarrow"), url(/GothamNarrow-BoldItalic-15c68e80277122f1d964e6d518ac9ff2.woff2) format("woff2"), url(/GothamNarrow-BoldItalic-84c66b7ae9d745bdc87b82a4712b38fc.woff) format("woff");
}

/*!sc*/

@font-face {
    font-family: "GothamNarrow";
    font-weight: 200;
    font-style: normal;
    src: local("GothamNarrow"), local("GothamNarrow"), url(/GothamNarrow-Book.woff) format("woff2"), url(/GothamNarrow-Book.woff) format("woff");
}

/*!sc*/

@font-face {
    font-family: "GothamNarrow";
    font-weight: 200;
    font-style: italic;
    src: local("GothamNarrow"), local("GothamNarrow"), url(/GothamNarrow-BookItalic-0dde865438918cfa844b6210ac98945d.woff2) format("woff2"), url(/GothamNarrow-BookItalic-14d7e8f89e07dba29afbe408f86b4140.woff) format("woff");
}

/*!sc*/

@font-face {
    font-family: "GothamNarrow";
    font-weight: bold;
    font-style: normal;
    src: local("GothamNarrow"), local("GothamNarrow"), url(/GothamNarrow-Black.woff2) format("woff2"), url(/GothamNarrow-Black.woff) format("woff");
}

/*!sc*/

@font-face {
    font-family: "GothamNarrow";
    font-weight: bold;
    font-style: italic;
    src: local("GothamNarrow"), local("GothamNarrow"), url(/GothamNarrow-BlackItalic-bf88c0f6aa1efaf8d3294ecf962ab4dc.woff2) format("woff2"), url(/GothamNarrow-BlackItalic-5502ecfced93c30d253b720ba5f772b0.woff) format("woff");
}

/*!sc*/

@font-face {
    font-family: "ProximaNova";
    font-weight: normal;
    font-style: normal;
    src: local("ProximaNova"), local("ProximaNova"), url(/ProximaNova-Regular-f141e17be31910dd636011a253a13747.woff2) format("woff2"), url(/ProximaNova-Regular-893b1f4ef794f09f682799d002c80762.woff) format("woff");
}

/*!sc*/

@font-face {
    font-family: "ProximaNova";
    font-weight: bold;
    font-style: normal;
    src: local("ProximaNova"), local("ProximaNova"), url(/ProximaNova-Bold-16a91cc84af35ae2972b3bcba2dc363b.woff2) format("woff2"), url(/ProximaNova-Bold-40e443fb82e1dd9c20265e5e829ba9b1.woff) format("woff");
}